.container {
  background:#F9F7F5;
  margin: 0 auto;
  max-width: 520px;
  overflow: auto;
}

a {
  color:purple;
}

a:hover {
  color:orange;
}

h1, .tagline {
  text-align: center;
  font-size: 15px;
}

h1 {
  font-size:30px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
}

header, section {
  background: #fff;
  margin:20px;
  padding:30px;
}

header h1 {
  margin-top: 5px;
}

header .tagline {
  margin-bottom: 0;
}

section img {
  height:auto;
  width:50px;
  margin:0 10px 10px 0;
}

section h2 {
  padding-bottom:9.9167px;
  border-bottom: 2px #D19A61 solid;
  margin:0 0 15px 0;
}

section h2 .city-description {
  font-size:15px;
  margin-left:17px;
  font-weight:normal;
}